# Copyright (c) 2022 Agvolution GmbH
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config MODULE_FDC2X1X
    bool "dox_grp_fdc"
    depends on TEST_KCONFIG
    depends on HAS_PERIPH_I2C
    select MODULE_PERIPH_I2C
    select MODULE_ZTIMER_MSEC
